.selectform {
    height: 28px !important;
}

.form-control{
    height: 48px !important;
}

.form-control-size {
    height: 48px !important;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}
